/* tablet */
@media screen and (max-width: 1439px) and (min-width: 769px) {
  .searchContainer {
    padding-left: 32px !important;
    padding-bottom: 24px !important;
    padding-right: 32px !important;
  }

  .logo {
    width: 170px;
    height: 25px;
    margin-right: 24px;
  }

  .categories {
    height: 62px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    justify-content: space-between;
  }

  .menu-item-open {
    left: 32px !important;
    top: 141px !important;

  }

  .products {
    box-sizing: border-box;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .product {
    box-sizing: border-box;
    width: 164px !important;
    height: 276px !important;
    padding: 10px 10px 12px 10px !important;
  }


  .like-button {
    transform: translate(108px, 11px) !important;
  }

  .description {
    overflow: hidden;
    width: 128px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .price {
    box-sizing: border-box;
    width: 144px !important;
  }

  .product-container {
    box-sizing: border-box;
    padding: 0 !important;
  }

  .products-upper-container {
    margin-left: 10px;
    margin-right: 8px;
  }

  .tablet-title-container {
    margin-top: 46px
  }

  .tablet-title {
    margin-bottom: 12px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF
  }

  .footer-up-left-text {
    width: 344px !important;
  }

  .signup-input {
    width: 243px !important;
  }

  .footer-up {
    padding-left: 32px !important;
    padding-right: 246px !important;
  }

  .footer-down {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .searchContainer {
    padding-left: 16px !important;
    padding-right: 19px !important;
    border: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    width: 183px;
    height: 24px;
  }

  .search-container-mobile {
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 36px
  }

  .search-input-mobile {
    box-sizing: border-box;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #89919A;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .search-button-mobile {
    min-width: 106px;
    height: 40px;
    border-radius: 4px;
    background-color: #0059BC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .products-mobile {
    box-sizing: border-box;
    height: 590px;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 62px;
  }

  .products-upper-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 39px;
    align-items: center;
    margin-bottom: 24px
  }

  .content-title-mobile {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: "#000000"
  }

  .favorite-number-mobile {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-left: 8px
  }

  .product {
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    width: 100% !important;
    height: fit-content !important;
    padding: 10px !important;
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
  }

  .product-mobile-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .product-pic {
    width: 100%;
    height: 208px;
  }

  .price {
    box-sizing: border-box;
    width: 100% !important;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .dots-container {
    gap: 5px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-container-mobile {
    box-sizing: border-box;
    height: 258px;
    background-color: #0059BC;
  }

  .footer-down-mobile {
    height: 44px;
    background-color: #0059BC;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-down-mobile-text {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF
  }

  .footer-up-mobile {
    box-sizing: border-box;
    height: 212px;
    background-color: #0059BC;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 16px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .signup-container {
    margin-top: 36px !important;
  }

  .signup-input {
    box-sizing: border-box;
    width: 174px !important;
    height: 38px !important;
  }

  .mobile-category {
    padding-top: 27px;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    left: 0;
    top: 64px;
    height: 300vh;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 100;
  }

  .mobile-category-text {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding-bottom: 24px;
  }
}

.searchContainer {
  padding-top: 25px;
  padding-left: 120px;
  padding-right: 256px;
  padding-bottom: 15px;
  border-bottom: 1px solid #89919A;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  font-size: 16px;
  width: 602px;
  height: 22px;
  border: 1px solid #89919A;
  border-right: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 24px
}

.searchButton {
  min-width: 110px;
  height: 40px;
  border-radius: 4px;
  background-color: #0059BC;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categories {
  margin-left: 120px;
  height: 64px;
  display: flex;
}

.categoryItem {
  margin-top: 24px;
  height: 28px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #6A6D70;
  width: 68px;
  margin-right: 35px;
  box-sizing: border-box;
  cursor: pointer;
}

.products {
  height: fit-content;
  padding-top: 48px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 96px;
}

.moreText {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-right: 10px;

}

.favorites-button {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 106px;
  height: 27px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF;
  background-color: #0059BC;
}

.product {
  cursor: pointer;
  width: 259px;
  height: 349px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: #00254F;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.price {
  width: 251px;
  height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #E6EEF8;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  padding-left: 8px;
  color: #00254F;
}

.description-title {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #00254F;
}

.description {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #00254F;
}

.shipping-text {
  margin-left: 8px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.footer-container {
  height: 399px;
  background-color: #0059BC;
}

.footer-up {
  height: 205px;
  background-color: #0059BC;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 65px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-down {
  height: 23px;
  background-color: #0059BC;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 21px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-down-text {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.footer-socials {
  display: flex;
  flex-direction: row;
}

.linkedin {
  margin-left: 40.5px;
  cursor: pointer;
}

.facebook {
  margin-left: 39.5px;
  cursor: pointer;
}

.instagram {
  margin-left: 40px;
  cursor: pointer;
}

.footer-up-left-text {
  margin-top: 24px;
  width: 407px;
  height: 46px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.signup-container {
  display: flex;
  flex-direction: row;
  margin-top: 52px;
}

.signup-input {
  width: 395px;
  height: 36px;
  padding-left: 10px;
  background-color: #FFFFFF;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.signup-input::placeholder {
  color: #000000;
  opacity: 1;
  /* Firefox */
}

.signup-input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #000000;
}

.signup {
  cursor: pointer;
  background-color: #00254F;
  width: 55px;
  height: 19px;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.footer-up-right {
  display: flex;
  flex-direction: row;
  width: 488px;
  height: 180px;
  justify-content: space-between;
  margin-top: 23px;
}

.footer-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.footer-subtitle {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.favorite-number {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 10px
}

.searchInput::-webkit-input-placeholder {
  font-family: '"Roboto"';
  font-weight: 500;
  color: #74777A
}

.searchInput:-moz-placeholder {
  font-family: '"Roboto"';
  font-weight: 500;
  color: #74777A;
}

.categories-placeholder {
  color: "#32363A";
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.like-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(224px, 11px);
  cursor: pointer;
}

.menu-item-open {
  position: absolute;
  width: 1200px;
  height: 300px;
  border-radius: 1px;
  background-color: #F4F5F6;
  left: 120px;
  top: 133px;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 48px;
  padding-left: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-header {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.menu-subheader {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 12px
}

.more-button {
  width: 193px;
  height: 56px;
  border-radius: 4px;
  background-color: #0059BC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.more-button-container {
  display: flex;
  justify-content: center;
}

.product-container {
  flex-wrap: wrap;
  gap: 12px;
  max-height: fit-content;
  padding: 12px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.content-title {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500,
}

.favorites-container {
  display: flex;
  flex-direction: row;
  align-items: center
}

.products-upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  margin-bottom: 24px
}